{% extends 'master.twig' %}

{% block content %}

    <div class="w3-container" style="margin-top: 80px;">
        <div class="w3-row-padding">


            <div class="w3-container w3-theme-d1 w3-center">
                <h2>What's this all about??</h2>
            </div>

            <div class="w3-container w3-theme-l4 w3-xlarge">
                <p></p>
                <div class="w3-panel w3-leftbar w3-light-grey w3-padding">
                    <p class="w3-xlarge w3-serif">&nbsp;&nbsp;<i>We revolutionize Mobile Payements Baby</i>
                    </p>
                </div>

                <p> Let's add a description here! </p>
                <p></p>

                <p>Enjoy!</p>
                </p>

                <hr>
                <div class="w3-panel w3-light-grey w3-leftbar w3-border-blue-grey w3-padding-4">
                    <p>&nbsp;&nbsp;Disclaimer: We rule.</b>
                    </p>
                </div>
                <p> </p>

            </div>
        </div>
    </div>

{% endblock content %}